{% extends 'base.html' %}

{% block content %}

{% from "components/paginator.j2" import links as paginator_links %}
{{ paginator_links(paginator) }}

{% import "components/color.j2" as color %}

<table class="table">
<thead>
    <tr>
        <th>Part image</th>
        <th>Part ID</th>
        <th>Part name</th>
        <th>Color name</th>
        <th>Color type</th>
        <th>Condition</th>
        <th>Quantity</th>
        <th>Parted out set</th>
    </tr>
</thead>
<tbody>
    {% for inv_part in inv_parts %}
        <tr>
            <td><img src="{{ get_part_image_url(inv_part.id_color, inv_part.id_part) }}" style="max-width: 250px; height: 70px"></td>
            <th>{{ inv_part.part.id }}</th>
            <td>{{ inv_part.part.name }}</td>
            <td>{{ color.to_string(inv_part.color) }}</td>
            <td>{{ inv_part.color.type }}</td>
            <td>{{ inv_part.condition }}</td>
            <td>{{ inv_part.quantity }}</td>
            <td>{{ inv_part.parted_out_set.id }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
