# Vendor
public/css/bootstrap/*.css linguist-vendored
public/js/bootstrap/*.js linguist-vendored

# Alembic
alembic/env.py linguist-vendored
alembic/script.py.mako linguist-vendored
alembic/versions/*.py linguist-vendored
