{% extends 'base.html' %}

{% block content %}
<h3>Register:</h3>

<form method='POST' action='{{ url_for("auth.register") }}'>
    <label>Email</label>
    <input type='email' name='email'>
    
    <label>Password</label>
    <input type='password' name='password'>

    <button type='submit'>Submit</button>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}
