
:root {
    --main-color: #FDD835;
    --secondary-color: #FBC02D;
    --text-color: black;
    --success-color: #B9F6CA;

    --icon-width: 20px;
    --icon-max-height: 50px;
}

body {
    color: black;
}

header {
    background-color: var(--main-color);
}

nav {
    background-color: var(--secondary-color);
}

nav .nav-item .nav-link {
    color: var(--text-color);

    text-transform: uppercase;
}

footer {
    background-color: var(--secondary-color);
}

footer.developed-by {
}

th {
    text-transform: uppercase;
    font-weight: 400;
}

th, td {
    vertical-align: middle;
}

table.inventory-parts td img.part-img {
    max-height: 100px;
    width: 50px
}

table.op-table tr.processed {
    background-color: var(--success-color);
}

.bl-icon {
    max-height: var(--icon-max-height);
    width: var(--icon-width);
}

.bo-icon {
    max-height: var(--icon-max-height);
    width: var(--icon-width);
}

body {
    /*font-family: 'Mitr', sans-serif;*/
    /*font-family: 'Passion One', cursive !important;*/
}

h1, h2 {
}
