{% extends 'base.j2' %}

{% from "components/paginator.j2" import links as paginator_links %}
{% import "components/color.j2" as color_util %}
{% from "components/icons.j2" import bl_icon, bo_icon %}

{% block content %}

<div class="container">
    <div class="mt-3 mb-3">
        {{ paginator_links(paginator) }}
    </div>

    <table class="table table-sm">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for color in colors %}
            <tr class="align-middle">
                <th>
                    {{ color.id }}<br>
                    {{ bl_icon(color.id) }}
                    {% if color.id_bo %}
                        {{ bo_icon(color.id_bo) }}
                    {% endif %}
                </th>
                <td>
                    {{ color_util.to_string(color) }}
                </td>
                <td>{{ color.type }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <div class="mb-3">
        {{ paginator_links(paginator) }}
    </div>
</div>

{% endblock %}
