
{% extends 'base.j2' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col pb-3">
            <!-- ------------------------------------------------------------------------------------------------ -->
            <!-- Account -->
            <!-- ------------------------------------------------------------------------------------------------ -->
            <div class="mb-3">
                <h2>Account</h2>
            </div>

            <form method='POST'> <!-- TODO -->
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type='email' name='email' class="form-control" value="{{ user.email }}" disabled>
                </div>
            </form>

            <div class="mb-3 d-flex justify-content-end"> <!-- TODO -->
                <button type='submit' class='btn btn-sm btn-danger'>
                    Delete
                </button>
            </div>

            <!-- ------------------------------------------------------------------------------------------------ -->
            <!-- Store -->
            <!-- ------------------------------------------------------------------------------------------------ -->
            <div class="mb-3">
                <h2>Stores</h2>
            </div>

            <form action="{{ url_for('user.settings.set_stores') }}" method="POST">
                <!-- Bricklink -->
                <div class="mb-3">
                    <div class="d-flex justify-content-between pb-1 mb-3 border-bottom">
                        <h6>Bricklink</h6>
                        {% if user.bo_credentials_approved %}
                            <span class="text-success">Approved</span>
                        {% else %}
                            <span class="text-danger">Not approved</span>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Customer key</label>
                        <input type='text' name='bl_customer_key' class="form-control" value="{{ user.bl_customer_key or '' }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Customer secret</label>
                        <input type='text' name='bl_customer_secret' class="form-control" value="{{ user.bl_customer_secret or '' }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Token value</label>
                        <input type='text' name='bl_token_value' class="form-control" value="{{ user.bl_token_value or '' }}">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Token secret</label>
                        <input type='text' name='bl_token_secret' class="form-control" value="{{ user.bl_token_secret or '' }}">
                    </div>
                </div>

                <!-- BrickOwl -->
                <div class="mb-3">
                    <div class="d-flex justify-content-between pb-1 mb-3 border-bottom">
                        <h6>BrickOwl</h6>
                        {% if user.bo_credentials_approved %}
                            <span class="text-success">Approved</span>
                        {% else %}
                            <span class="text-danger">Not approved</span>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Key</label>
                        <input type='text' name='bo_key' class="form-control" value="{{ user.bo_key or '' }}">
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-warning">
                        Approve
                    </button>
                </div>
            </form>

            <hr>

            <!-- ------------------------------------------------------------------------------------------------ -->
            <!-- Syncer -->
            <!-- ------------------------------------------------------------------------------------------------ -->
            <form action="{{ url_for('user.settings.set_stores') }}" method="POST">
            </form>
        </div>
    </div>
</div>
{% endblock %}
