
<div id="addStoreModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a store</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{{ url_for('user.settings.add_store') }}">
                <div class="modal-body">
                    <div class="mb-3">
                        <select id="storeTypeSelector" class="form-select" name="type">
                            <option value="bl_store">Bricklink</option>
                            <option value="bo_store">BrickOwl</option>
                        </select>

                        <script>
                            $(document).ready(() => {
                                onChange = function (value) {
                                    if (this.lastShown) {
                                        console.log()
                                        $(`#addStoreForm_${this.lastShown}`).css({ 'display': 'none' });
                                    }
                                    $(`#addStoreForm_${value}`).css({ 'display': '' });
                                    this.lastShown = value;
                                };

                                $selector = $("#storeTypeSelector");
                                
                                $selector.on('change', function () {
                                    onChange(this.value);
                                });
                                onChange($selector.val());
                            });
                        </script>
                    </div>

                    <!-- BL -->
                    <div id="addStoreForm_bl_store" style="display: none">
                        <div class="mb-3">
                            <label class="form-label">Customer key</label>
                            <input type='text' name='bl_customer_key' class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Customer secret</label>
                            <input type='text' name='bl_customer_secret' class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Token value</label>
                            <input type='text' name='bl_token_value' class="form-control">
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Token secret</label>
                            <input type='text' name='bl_token_secret' class="form-control">
                        </div>
                    </div>

                    <!-- BO -->
                    <div id="addStoreForm_bo_store" style="display: none">
                        <div class="mb-3">
                            <label class="form-label">Key</label>
                            <input type='text' name='bo_key' class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <h2 class="pb-2 mb-3 border-bottom">
        Your LEGO stores
    </h2>

    <div>
        {% for store in user.stores %}
            <div class="card mb-3" style="{{ 'background-color: rgba(251, 192, 45, 0.7);' if store.is_master else 'background-color: rgba(0, 0, 0, 0);' }}">
                <div class="card-body">
                    <div class="card-title mb-3">
                        <h6>{{ store.display_name }} {{ '(master)' if store.is_master else '' }}</h6>
                    </div>
                    <div class="card-text">
                        {% if store.type == 'bl_store' %}
                            <div class="mb-3">
                                <label class="form-label">Customer key</label>
                                <input type='text' name='bl_customer_key' class="form-control" value="{{ store.bl_customer_key or '' }}" readonly>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Customer secret</label>
                                <input type='text' name='bl_customer_secret' class="form-control" value="{{ store.bl_customer_secret or '' }}" readonly>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Token value</label>
                                <input type='text' name='bl_token_value' class="form-control" value="{{ store.bl_token_value or '' }}" readonly>
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Token secret</label>
                                <input type='text' name='bl_token_secret' class="form-control" value="{{ store.bl_token_secret or '' }}" readonly>
                            </div>
                        {% elif store.type == 'bo_store' %}
                            <div class="mb-3">
                                <label class="form-label">Key</label>
                                <input type='text' name='bo_key' class="form-control" value="{{ store.bo_key or '' }}" readonly>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer pt-2 pb-2 d-flex justify-content-end">
                    <!-- Set master -->
                    {% if not store.is_master %}
                        <form method="POST" action="{{ url_for('user.settings.set_master_store', store=store.id) }}" class="me-1">
                            <button type='submit' class='btn btn-sm btn-warning'>
                                Set master
                            </button>
                        </form>
                    {% endif %}

                    <!-- Delete -->
                    <form method="POST" action="{{ url_for('user.settings.del_store', store=store.id) }}">
                        <button type='submit' class='btn btn-sm btn-danger'>
                            Delete
                        </button>
                    </form>
                </div>
            </div>
        {% endfor %}

    </div>

    <div class="text-md-start text-sm-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStoreModal">
            Add a store
        </button>
    </div>
</div>
