<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap -->
    <link href="/public/css/bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/public/js/bootstrap/bootstrap.min.js"></script>
    
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/public/js/script.js"></script>

    <title>{{ env['APP_NAME'] }}</title>
</head>
<body>

<!-- Header -->
<header class="bg-light p-3 pt-1 pb-1">
    <div class="d-flex justify-content-between">
        <h1 class="h1">{{ env['APP_NAME'] }}</h1>
        <div>
        </div>
    </div>
</header>

<!-- Body -->
{% block body %}{% endblock %}

<!-- Footer -->
<footer class="bg-light text-end">
    Developed by <a href='https://github.com/loryruta' target="_blank">loryruta</a>
</footer>

</body>
</html>
