{% extends "_base.j2" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar TODO -->
        <div class='col-2 bg-light'>
            <ul>
                <li><a href="/inventory/history">Inventory history</a></li>
                <li><a href="/parted_out_sets">Parted out sets</a></li>
                <li><a href="/orders">Orders</a></li>

                <li>Inventory
                    <ul>
                        <li><a href="/inventory/parts">Parts</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Content -->
        <div class='col container'> 
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
