{% extends 'base.html' %}

{% block content %}
<table border="1">
<thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>RGB</th>
        <th>Bricklink ID</th>
        <th>Brickowl ID</th>
    </tr>
</thead>
<tbody>
    {% for color in colors %}
        <tr style="color: #{{ color.rgb }}">
            <th>{{ color.id }}</th>
            <td>{{ color.name }}</td>
            <td>{{ color.rgb }}</td>
            <td>{{ color.id_bricklink }}</td>
            <td>{{ color.id_brickowl }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
