{% extends 'base.j2' %}

{% from "components/paginator.j2" import links as paginator_links %}
{% import "components/color.j2" as color %}
{% from "components/icons.j2" import bl_icon, bo_icon %}

{% block content %}

<div class="container-fluid pt-3">
    <div>
        <button class="btn btn-secondary float-end" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse" aria-expanded="false" aria-controls="filter">
            Filter
        </button>
    </div>

    <div class="row">
    <div class="col">
    <div id="filterCollapse" class="container collapse pt-3">
        <form method="GET" action="{{ url_for('inventory.show') }}">
            <input type="hidden" name="page" value="{{ paginator.get_current_page() }}">

            <div class="mb-3">
                <label>Colors</label>
                <select class="mb-3 form-select" name="colors" multiple>
                    {% for color in colors %}
                        <option value="{{ color.id }}" {{ 'selected' if color.id in search_params['colors'] else '' }}>{{ color.name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="row mb-3">
                <label class="form-label col">Condition</label>
                <div class="d-flex col">
                    <div class="form-check pe-3">
                        <input class="form-check-input" type="checkbox" name='conditions' value="N" {{ 'checked' if 'N' in search_params['conditions'] else '' }}>
                        <label class="form-check-label">N</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name='conditions' value="U" {{ 'checked' if 'U' in search_params['conditions'] else '' }}>
                        <label class="form-check-label">U</label>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <label class="form-label col">Price</label>
                <div class="input-group input-group-sm col">
                    <input type="number" name="price_min" class="form-control" placeholder="Min" step="0.01" min="0" value="{{ search_params['price_min'] or '' }}">
                    <input type="number" name="price_max" class="form-control" placeholder="Max" step="0.01" min="0" value="{{ search_params['price_max'] or '' }}">
                </div>
            </div>

            <div class="row mb-3">
                <label class="form-label col">Quantity</label>
                <div class="input-group input-group-sm col">
                    <input type="number" name="quantity_min" class="form-control" placeholder="Min" step="1" min="0" value="{{ search_params['quantity_min'] or '' }}">
                    <input type="number" name="quantity_max" class="form-control" placeholder="Max" step="1" min="0" value="{{ search_params['quantity_max'] or '' }}">
                </div>
            </div>

            <div class="mb-3">
                <label>Remarks</label>
                <input class="form-control form-control-sm" type="text" name="user_remarks" value="{{ search_params['user_remarks'] or '' }}">
            </div>
            
            <div class="mb-3">
                <label>Description</label>
                <input class="form-control form-control-sm" type="text" name="user_description" value="{{ search_params['user_description'] or '' }}">
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">
                    Apply
                </button>
                </div>
        </form>
    </div>
    </div>
    </div>

    <div class="mt-3 mb-3">
        {{ paginator_links(paginator) }}
    </div>

    <table class="table table-striped inventory-parts">
    <thead>
        <tr>
            <th>Lot ID</th>
            <th>Item type</th>
            <th>Item image</th>
            <th>Part ID</th>
            <th>Part name</th>
            <th>Color</th>
            <th>Condition</th>
            <th>Unit price</th>
            <th>Quantity</th>
            <th>Remarks</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr class="align-middle">
                <th>{{ item.id }}</th> <!-- Lot ID -->
                <th>{{ item.item_type }}</th> <!-- Item type -->

                <td class="text-center"> <!-- Item image -->
                    <img class="item-img" src="{{ get_item_image_url(item.item_type, item.color_id, item.item_id) }}">
                </td>

                <!-- Item ID -->
                <th>
                    {{ item.item.id }}<br>
                    {{
                        bl_icon(item.item.id)
                    }}
                    {% if item.item.bo_id != none %}
                        {{
                            bo_icon(
                                item.item.bo_id,
                                "https://www.brickowl.com/search/catalog?query=" ~ item.item.bo_id
                            )
                        }}
                    {% endif %}
                </th>

                <!-- Item name -->
                <td>
                    {{ item.item.name }}
                </td>

                <!-- Color name -->
                <td> 
                    {{ color.to_string(item.color) }}<br>
                    {{
                        bl_icon(
                            item.color.id
                        )
                    }}
                    {% if item.color.bo_id != none %}
                        {{
                            bo_icon(
                                item.color.bo_id,
                            )
                        }}
                    {% endif %}
                </td>
                <td>{{ item.condition }}</td>
                <td>{{ item.unit_price if item.unit_price else '-' }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.user_remarks if item.user_remarks else "-" }}</td>
                <td>{{ item.user_description if item.user_description else "-" }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <div class="mb-3">
        {{ paginator_links(paginator) }}
    </div>
</div>

{% endblock %}
