{% extends 'base.j2' %}

{% block content %}

{% from "components/paginator.j2" import links as paginator_links %}
{{ paginator_links(paginator) }}

<table class="table table-sm">
<thead>
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Params</th>
        <th>Parent</th>
        <th>Dependencies</th>
        <th>Created at</th>
        <th>Rate limited at</th>
        <th>Rate limited for</th>
        <th>Invoked at</th>
        <th>Processed at</th>
    </tr>
</thead>
<tbody>
    {% for op in op_list %}
        <tr class="{{ 'table-success' if op.processed_at else '' }}">
            <th>{{ op.id }}</th>
            <td>{{ op.type }}</td>
            <td>{{ op.params }}</td>
            <td>{{ op.parent.type }} ({{ op.parent.id }})</td>
            <td>
                {% for dep in op.dependencies %}
                    {{ dep.type }} ({{ dep.id }})
                {% endfor %}
            </td>
            <td>{{ op.created_at or "-" }}</td>
            <td>{{ op.rate_limited_at or "-" }}</td>
            <td>{{ op.rate_limited_for or "-" }}</td>
            <td>{{ op.invoked_at or "-" }}</td>
            <td>{{ op.processed_at or "-" }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
