{% extends 'base.html' %}

{% block content %}

<table class="table table-sm">
<thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Year</th>
        <th>Rebrickable URL</th>
        <th>Image</th>
        <th>Parts count</th>
        <th>Last modified at</th>
    </tr>
</thead>
<tbody>
    {% for parted_out_set in parted_out_sets %}
        <tr>
            <th>{{ parted_out_set.set.id }}</th>
            <td>{{ parted_out_set.set.name }}</td>
            <td>{{ parted_out_set.set.year }}</td>
            <td>
                <a href="{{ parted_out_set.set.set_url }}">{{ parted_out_set.set.set_url }}</a>
            </td>
            <td>
                <img src="{{ parted_out_set.set.set_img_url }}" style="max-width: 500px; height: 120px">
            </td>
            <td>{{ parted_out_set.set.num_parts }}</td>
            <td>{{ parted_out_set.set.last_modified_date }}</td>
        </tr>
    {% endfor %}
</tbody>
</table>



{% endblock %}
